form {
    width: 30%;
    margin: auto;
}
h2 {
    text-align: center;
}
form > * {
    margin-bottom: 30px;
}
form div {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}
